html,
body {
  
  /* background-color: #0D6EFD !important; */
  /* background-image: url("../public/assets/bg.png"); */
  background-size: 1920px 1080px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */


@media only screen and (max-width: 576px) {
  body {
    display: none;
    background-image: none !important;
  }
}

/* .page-not-found {
 margin-top: 317px;
 margin-bottom: 318px;
} */

.form-input {
  border-radius: 8px !important;
}

table {
  border-collapse: collapse;
  border-radius: 0.4em;
  overflow: hidden;
}

.search-skill {
  width: 500px !important;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--bs-info);
}